* {
    font-family: Verdana, sans-serif;
}

.search {
    margin: auto;
    width: 50%;
    text-align: center;
    border: none;
}

#searchDiv {
    display: inline-flex;
    align-items: center;
}

#searchBar {
    font-size: medium;
    padding: 15px; 
    width: 45vw;
    height: .5px;
}

#searchButton {
    background-color: #ff4500;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 3px;
  }

#title {
    color: #ff4500;
    font-weight: bold;
    font-size: 25pt;
}

span {
    margin-left: 5px;
    font-size: 13pt;
    color: black;
    display: center;
}

a, a:link, a:visited, a:hover, a:active { 
    display: inline-flex;
    align-items: center;
    text-decoration: none; 
}


@media (prefers-color-scheme: dark) {
    body {
        color: antiquewhite;
        background-color: rgb(32, 32, 32);
    }

    #searchButton {
        background-color: #ff4500;
    }

    #searchBar {
        border-color: antiquewhite;
    }

    span {
        color: antiquewhite;
    }
}
